html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #202020;
}

body::-webkit-scrollbar-thumb {
  background: #ffcb4f;
  border-radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  font-family: 'sedanregular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 920px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 6px;
  }
}

h1 {
  color: #ffffff;
  font-size: 8em;
  letter-spacing: 10px;
  margin: 0;
  margin-left: 20px;
}

h2 {
  color: #FFCB4F;
  font-size: 2.5em;
}

.italic {
  font-style: italic;
}

.next-button {
  text-decoration: none;
  margin: auto;
  width: 50%;
  background-color: #323232;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  width: 160px;
  height: 50px;
  border: solid 2px #FFCB4F;
  border-radius: 100px;
  -webkit-transition: .5s background-color ease-out;
  transition: .5s background-color ease-out;
}

.next-button:hover {
  background-color: #FFCB4F;
  color: #323232;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #323232;
  border-bottom: 1px solid #E5E5E5;
}

.nav-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.nav-sections a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.4em;
}

.nav-sections li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1300px) {
  .nav-sections {
    width: 50%;
  }
}

@media screen and (max-width: 920px) {
  .nav-sections {
    width: 60%;
  }
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #FFCB4F;
  margin: 5px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

@media screen and (max-width: 770px) and (min-height: 600px) {
  body {
    overflow-x: hidden;
  }
  .nav-sections {
    position: absolute;
    right: 0rem;
    height: 40vh;
    top: 8vh;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .nav-sections li {
    opacity: 0;
  }
  .burger-menu {
    display: block;
  }
}

.highlight {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border: solid 2px #FFCB4F;
  border-radius: 100px;
}

.highlight:hover {
  background-color: #FFCB4F;
  color: #323232;
}

.logo {
  margin-left: 20px;
  font-size: 3em;
  color: #ffffff;
}

.front-page {
  height: 100vh;
}

.typing1 {
  margin-top: 80px;
}

.row3 {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 3%;
  margin-top: 3%;
  -ms-flex-item-align: center;
      align-self: center;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.row {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.row2 {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.portrait-image-yellow {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px solid #FFCB4F;
  opacity: 1;
}

.portrait-image {
  position: absolute;
  height: 400px;
  width: 400px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  border-radius: 50%;
  border: 1px solid white;
  -webkit-transition: opacity .7s ease-out;
  transition: opacity .7s ease-out;
}

.portrait-image:hover {
  opacity: 0;
}

@media screen and (max-width: 1300px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-text {
    margin-top: 20px;
  }
  .portrait-image {
    height: 200px;
    width: 200px;
  }
  .portrait-image-yellow {
    height: 200px;
    width: 200px;
  }
}

.img-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2em;
  margin-right: 0px;
}

.my-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
}

.paragh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E5E5E5;
}

.gitlink {
  cursor: pointer;
}

.github-image {
  width: 20vw;
}

.contact {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.contact-text-wrapper {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20%;
  margin-bottom: 10%;
}

.contact-details {
  color: #E5E5E5;
  font-size: 28px;
  margin-bottom: 5px;
}

.linkedin {
  font-size: 2em;
  color: #FFCB4F;
}

.credits-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credits-wrapper {
  height: 8vh;
  width: 98vw;
  font-size: .5em;
  border-top: solid 1px #E5E5E5;
  color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */